.hero {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.users {
    width: 800px;
    overflow: hidden;
}
.users-inner {
    width: 818px;
    overflow-y: scroll;
}
.messages{
    width: 800px;
    overflow: hidden;
}
.messages-inner{
    width: 818px;
    overflow-y: scroll;
}

.hidden {
    display: none;
}

/* CSS added by Irtefa */
.search-title{
  font-size: 50px;
  text-align: center;
}
.search-form{
  text-align: center;
  border-radius: 12px;
}
