.hero {
  padding: 20px 40px 20px 40px;
}

.users {
    width: 800px;
    overflow: hidden;
}
.users-inner {
    width: 818px;
    overflow-y: scroll;
}
.messages {
    width: 800px;
    overflow: hidden;
}
.messages-inner {
    width: 818px;
    overflow-y: scroll;
}

.hidden {
    display: none;
}

.search-title {
  font-size: 50px;
  text-align: center;
}
.search-form {
  text-align: center;
  border-radius: 12px;
}
